ODSAPI.asmx.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DeactivateDial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="MSISDN" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeactivateDialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeactivateDialResult" type="s:int"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DeactivateDialSoapIn">
    <wsdl:part name="parameters" element="tns:DeactivateDial"/>
  </wsdl:message>
  <wsdl:message name="DeactivateDialSoapOut">
    <wsdl:part name="parameters" element="tns:DeactivateDialResponse"/>
  </wsdl:message>
  <wsdl:portType name="ODSAPISoap">
    <wsdl:operation name="DeactivateDial">
      <wsdl:input message="tns:DeactivateDialSoapIn"/>
      <wsdl:output message="tns:DeactivateDialSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ODSAPISoap" type="tns:ODSAPISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DeactivateDial">
      <soap:operation soapAction="http://tempuri.org/DeactivateDial" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ODSAPISoap12" type="tns:ODSAPISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DeactivateDial">
      <soap12:operation soapAction="http://tempuri.org/DeactivateDial" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ODSAPI">
    <wsdl:port name="ODSAPISoap" binding="tns:ODSAPISoap">
      <soap:address location="http://41.222.130.249/ODSAPI/ODSAPI.asmx"/>
    </wsdl:port>
    <wsdl:port name="ODSAPISoap12" binding="tns:ODSAPISoap12">
      <soap12:address location="http://41.222.130.249/ODSAPI/ODSAPI.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>